data/data/filters.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.ems6.net/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ws.ems6.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.ems6.net/">
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isPrivate" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdMlist" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="SetFields">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="queryId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="criteria" type="tns:ArrayOfCriterion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCriterion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Criterion" type="tns:Criterion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Criterion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdField" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Operation" type="tns:EOperation" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="EOperation">
        <s:restriction base="s:string">
          <s:enumeration value="NONE" />
          <s:enumeration value="FILLED" />
          <s:enumeration value="NOTFILLED" />
          <s:enumeration value="EQUAL" />
          <s:enumeration value="DIFFERENT" />
          <s:enumeration value="INFERIOR" />
          <s:enumeration value="SUPERIOR" />
          <s:enumeration value="BETWEEN" />
          <s:enumeration value="AGO" />
          <s:enumeration value="IN" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetFieldsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFields">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="queryId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFieldsResult" type="tns:ArrayOfCriterion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="List">
        <s:complexType />
      </s:element>
      <s:element name="ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CountFilter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_idFilter" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountFilterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountFilterResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubscriberForFilter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_nidFilter" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubscriberForFilterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubscriberForFilterResult" type="tns:ArrayOfArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfArrayOfString" nillable="true" type="tns:ArrayOfArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="CreateAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="SetFieldsSoapIn">
    <wsdl:part name="parameters" element="tns:SetFields" />
  </wsdl:message>
  <wsdl:message name="SetFieldsSoapOut">
    <wsdl:part name="parameters" element="tns:SetFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="SetFieldsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetFieldsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFields" />
  </wsdl:message>
  <wsdl:message name="GetFieldsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFieldsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="ListSoapIn">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="ListSoapOut">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="ListAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="CountFilterSoapIn">
    <wsdl:part name="parameters" element="tns:CountFilter" />
  </wsdl:message>
  <wsdl:message name="CountFilterSoapOut">
    <wsdl:part name="parameters" element="tns:CountFilterResponse" />
  </wsdl:message>
  <wsdl:message name="CountFilterAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetSubscriberForFilterSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubscriberForFilter" />
  </wsdl:message>
  <wsdl:message name="GetSubscriberForFilterSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubscriberForFilterResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubscriberForFilterAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="FiltersSoap">
    <wsdl:operation name="Create">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Méthode pour créer un filtre par champs</wsdl:documentation>
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetFields">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Méthode pour définir les critères du filtre</wsdl:documentation>
      <wsdl:input message="tns:SetFieldsSoapIn" />
      <wsdl:output message="tns:SetFieldsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFields">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Méthode permettant de sélectionner les critères du filtre</wsdl:documentation>
      <wsdl:input message="tns:GetFieldsSoapIn" />
      <wsdl:output message="tns:GetFieldsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="List">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Méthode pour lister les filtres par champs</wsdl:documentation>
      <wsdl:input message="tns:ListSoapIn" />
      <wsdl:output message="tns:ListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CountFilter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Méthode pour compter le nombre d'abonnés sur cette cible</wsdl:documentation>
      <wsdl:input message="tns:CountFilterSoapIn" />
      <wsdl:output message="tns:CountFilterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscriberForFilter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Récupère la liste des abonnés pour une cible</wsdl:documentation>
      <wsdl:input message="tns:GetSubscriberForFilterSoapIn" />
      <wsdl:output message="tns:GetSubscriberForFilterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FiltersSoap" type="tns:FiltersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://ws.ems6.net/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CreateAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFields">
      <soap:operation soapAction="http://ws.ems6.net/SetFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetFieldsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFields">
      <soap:operation soapAction="http://ws.ems6.net/GetFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetFieldsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap:operation soapAction="http://ws.ems6.net/List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountFilter">
      <soap:operation soapAction="http://ws.ems6.net/CountFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CountFilterAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriberForFilter">
      <soap:operation soapAction="http://ws.ems6.net/GetSubscriberForFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetSubscriberForFilterAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FiltersSoap12" type="tns:FiltersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://ws.ems6.net/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CreateAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFields">
      <soap12:operation soapAction="http://ws.ems6.net/SetFields" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetFieldsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFields">
      <soap12:operation soapAction="http://ws.ems6.net/GetFields" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetFieldsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="List">
      <soap12:operation soapAction="http://ws.ems6.net/List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountFilter">
      <soap12:operation soapAction="http://ws.ems6.net/CountFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CountFilterAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriberForFilter">
      <soap12:operation soapAction="http://ws.ems6.net/GetSubscriberForFilter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSubscriberForFilterAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Filters">
    <wsdl:port name="FiltersSoap" binding="tns:FiltersSoap">
      <soap:address location="https://ws1.ems6.net/filters.asmx" />
    </wsdl:port>
    <wsdl:port name="FiltersSoap12" binding="tns:FiltersSoap12">
      <soap12:address location="https://ws1.ems6.net/filters.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>