data/data/target.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.ems6.net/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ws.ems6.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.ems6.net/">
      <s:element name="List">
        <s:complexType />
      </s:element>
      <s:element name="ListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListResult" type="tns:ArrayOfTargetEntityReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTargetEntityReturn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TargetEntityReturn" nillable="true" type="tns:TargetEntityReturn" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TargetEntityReturn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdQuery" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdMlist" type="s:int" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="Count">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idQuery" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Rename">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isPrivate" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idQuery" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RenameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListSoapIn">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="ListSoapOut">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="ListAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="CountSoapIn">
    <wsdl:part name="parameters" element="tns:Count" />
  </wsdl:message>
  <wsdl:message name="CountSoapOut">
    <wsdl:part name="parameters" element="tns:CountResponse" />
  </wsdl:message>
  <wsdl:message name="CountAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="RenameSoapIn">
    <wsdl:part name="parameters" element="tns:Rename" />
  </wsdl:message>
  <wsdl:message name="RenameSoapOut">
    <wsdl:part name="parameters" element="tns:RenameResponse" />
  </wsdl:message>
  <wsdl:message name="RenameAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="TargetSoap">
    <wsdl:operation name="List">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">List of target: description and id</wsdl:documentation>
      <wsdl:input message="tns:ListSoapIn" />
      <wsdl:output message="tns:ListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Count">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Count target : show number of users in target</wsdl:documentation>
      <wsdl:input message="tns:CountSoapIn" />
      <wsdl:output message="tns:CountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Rename">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Change Description and confidentiality</wsdl:documentation>
      <wsdl:input message="tns:RenameSoapIn" />
      <wsdl:output message="tns:RenameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TargetSoap" type="tns:TargetSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="List">
      <soap:operation soapAction="http://ws.ems6.net/List" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ListAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Count">
      <soap:operation soapAction="http://ws.ems6.net/Count" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CountAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rename">
      <soap:operation soapAction="http://ws.ems6.net/Rename" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RenameAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TargetSoap12" type="tns:TargetSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="List">
      <soap12:operation soapAction="http://ws.ems6.net/List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ListAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Count">
      <soap12:operation soapAction="http://ws.ems6.net/Count" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CountAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rename">
      <soap12:operation soapAction="http://ws.ems6.net/Rename" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RenameAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Target">
    <wsdl:port name="TargetSoap" binding="tns:TargetSoap">
      <soap:address location="https://ws1.ems6.net/target.asmx" />
    </wsdl:port>
    <wsdl:port name="TargetSoap12" binding="tns:TargetSoap12">
      <soap12:address location="https://ws1.ems6.net/target.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>